<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Support" version="2.45.0" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Selenium.WebDriver" version="2.45.0" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
</packages>